body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
}

.navbar {
  border: black 3px solid;
  border-radius: 0 !important;
  font-weight: bold;
  margin-bottom: 0;
  background-color: rgb(168, 167, 167);
}
.navbar-default .navbar-brand {
  color: black;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}

#nav-list {
  border-top: black 3px solid;
  border-left: black 3px solid;
  border-right: black 3px solid;
}
#nav-list li {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(165, 213, 252);
  border-bottom: black 3px solid;
}
#nav-list li a {
  color: black;
}
#nav-list li a:hover {
  font-weight: bold;
}

.active {
  background-color: rgb(168, 167, 167);
  color: yellow;
}
.col-xs-12{
  margin: auto;
  max-width: 100%;
  color: black;
  background-color: rgb(168, 167, 167);
}
section {
  padding: 10px;
}

#back{
    margin-top: 10px;
    font-size: large;
    margin-left: 10px;
    color:rgb(165, 213, 252);
}
#back:hover{
    font-weight: bold;
}



@media(max-width: 414px){
    section {
        padding: 28px;
      }
      #back{
        margin-left: 28px;
    }

}

